My name is Guillermo Leon and I will design, build, and manipulate my own dataset with multiple data types.

In [1]:
#Importing libraries
import numpy as np

In [2]:
import pandas as pd

In [3]:
import random

Constructing a 5 x 50 table (5 columns x 50 rows) using python lists

In [4]:
#creating variable that will represent 50 rows
num_rows = 50

In [5]:
#list of strings that represent the majors that the random function will use
majors = ['Computer Science', 'Engineering', 'Business', 'Algriculture', 'Humanities']

We will create a dataframe by constructing it directly from a dictionary of lists where each element of the dictionary turns into a column. I will use the random library to generate random data of different types for the table.

In [6]:
#Creating a dictionary of lists structure to hold dataset
dict_of_list = {
    'Student_ID' : [random.randint(10000, 99999) for _ in range(num_rows)],
    'Score' : [round(random.uniform(50.0, 100.0), 2) for _ in range(num_rows)],
    'Major' : [random.choice(majors) for _ in range(num_rows)],
    'Graduation_Year' : [random.randint(2022, 2026) for _ in range(num_rows)],
    'Pass/Fail' : [random.choice([True, False]) for _ in range(num_rows)]
}

Convert to DataFrame

In [7]:
df = pd.DataFrame(dict_of_list)

In [8]:
#converting Major data type from object to string
df['Major'] = df['Major'].astype('string')

Display the first 5 rows

In [9]:
#using the .head() method from the pandas library to return the first 5 rows
print("First 5 rows:")
print(df.head())

First 5 rows:
   Student_ID  Score         Major  Graduation_Year  Pass/Fail
0       28771  56.64      Business             2024       True
1       61900  66.59  Algriculture             2022      False
2       14110  85.12  Algriculture             2022      False
3       43610  51.61      Business             2024       True
4       30959  64.86   Engineering             2026       True

Display the last 5 rows

In [10]:
#using the .tail() method from the pandas library to return the last 5 rows
print("Last 5 rows:")
print(df.tail())

Last 5 rows:
    Student_ID  Score             Major  Graduation_Year  Pass/Fail
45       28311  75.12          Business             2025       True
46       28372  57.46  Computer Science             2023       True
47       65982  84.10      Algriculture             2026      False
48       86420  59.00        Humanities             2022       True
49       79395  91.40          Business             2026      False

Showing the column labels and data type of each column

In [11]:
#using the .info() method from the pandas library to return column labels
#and data type of each column.
print("Column Names:")
print(df.info())

Column Names:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Student_ID       50 non-null     int64
 1   Score            50 non-null     float64
 2   Major            50 non-null     string
 3   Graduation_Year  50 non-null     int64
 4   Pass/Fail        50 non-null     bool
dtypes: bool(1), float64(1), int64(2), string(1)
memory usage: 1.7 KB
None

Showing the descriptive statistics for numeric columns

In [12]:
#using the describe() method from the pandas library to find the statistical summaries of numeric columns
print("Descriptive statistics of numeric columns:")
print(df.describe())

Descriptive statistics of numeric columns:
         Student_ID      Score  Graduation_Year
count     50.000000  50.000000        50.000000
mean   54884.760000  74.084200      2023.860000
std    24939.502364  14.161968         1.355412
min    12447.000000  50.610000      2022.000000
25%    31559.500000  61.135000      2023.000000
50%    54027.500000  75.220000      2024.000000
75%    73567.750000  85.967500      2025.000000
max    99730.000000  97.460000      2026.000000

Showing the number of unique values in a categorical column

In [13]:
#using the .unique() method from the pandas library to show the unique values in a categorical column
print('Unique values in categorical column')
print(df['Major'].unique())

Unique values in categorical column
<StringArray>
['Business', 'Algriculture', 'Engineering', 'Computer Science', 'Humanities']
Length: 5, dtype: string

A if-elif-else check to assign a letter grade with a specific score

In [14]:
def score_to_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else: 
        return 'F'

In [15]:
#applying new column called Letter_Grade to the data frame
df['Letter_Grade'] = df['Score'].apply(score_to_grade)

Printing the first 5 rows to check if Letter_Grade column was added correctly

In [16]:
print(df.head())

   Student_ID  Score         Major  Graduation_Year  Pass/Fail Letter_Grade
0       28771  56.64      Business             2024       True            F
1       61900  66.59  Algriculture             2022      False            D
2       14110  85.12  Algriculture             2022      False            B
3       43610  51.61      Business             2024       True            F
4       30959  64.86   Engineering             2026       True            D

In [17]:
#saving dataframe to a csv file with index
df.to_csv("lab_assignment_1.csv")

In [18]:
#saving dataframe to a csv file without index
df.to_csv("lab_assignment_1_without_index.csv", index=False)