My name is Guillermo Leon and I will design, build, and manipulate my own dataset with multiple data types.

In [65]:
#Importing libraries
import numpy as np

In [66]:
import pandas as pd

In [67]:
import random

Constructing a 5 x 50 table (5 columns x 50 rows) using python lists

In [68]:
#creating variable that will represent 50 rows
num_rows = 50

In [69]:
#list of strings that represent the majors that the random function will use
majors = ['Computer Science', 'Engineering', 'Business', 'Algriculture', 'Humanities']

We will create a dataframe by constructing it directly from a dictionary of lists where each element of the dictionary turns into a column. I will use the random library to generate random data of different types for the table.

In [70]:
#Creating a dictionary of lists structure to hold dataset
dict_of_list = {
    'Student_ID' : [random.randint(10000, 99999) for _ in range(num_rows)],
    'Score' : [round(random.uniform(50.0, 100.0), 2) for _ in range(num_rows)],
    'Major' : [random.choice(majors) for _ in range(num_rows)],
    'Graduation_Year' : [random.randint(2022, 2026) for _ in range(num_rows)],
    'Pass/Fail' : [random.choice([True, False]) for _ in range(num_rows)]
}

Convert to DataFrame

In [71]:
df = pd.DataFrame(dict_of_list)

In [72]:
#converting Major data type from object to string
df['Major'] = df['Major'].astype('string')

Display the first 5 rows

In [73]:
#using the .head() method from the pandas library to return the first 5 rows
print("First 5 rows:")
print(df.head())

First 5 rows:
   Student_ID  Score             Major  Graduation_Year  Pass/Fail
0       94802  66.02       Engineering             2024       True
1       66448  89.99       Engineering             2026       True
2       84198  62.84        Humanities             2025      False
3       76308  64.20  Computer Science             2024      False
4       64295  52.84       Engineering             2023       True

Display the last 5 rows

In [74]:
#using the .tail() method from the pandas library to return the last 5 rows
print("Last 5 rows:")
print(df.tail())

Last 5 rows:
    Student_ID  Score             Major  Graduation_Year  Pass/Fail
45       67033  84.88       Engineering             2022      False
46       55110  98.38  Computer Science             2023       True
47       24691  99.04        Humanities             2026      False
48       56673  96.63       Engineering             2024      False
49       10606  71.81          Business             2022       True

Showing column names

In [75]:
#using the .keys() method from the pandas library to return column labels
print("Column Names:")
print(df.keys())

Column Names:
Index(['Student_ID', 'Score', 'Major', 'Graduation_Year', 'Pass/Fail'], dtype='object')

Showing data types of columns

In [76]:
#using the dtypes attribute to return series containing data type of each column
print("Data Types:")
print(df.dtypes)

Data Types:
Student_ID                  int64
Score                     float64
Major              string[python]
Graduation_Year             int64
Pass/Fail                    bool
dtype: object

Showing the descriptive statistics for numeric columns

In [77]:
#using the describe() method from the pandas library to find the statistical summaries of numeric columns
print("Descriptive statistics of numeric columns:")
print(df.describe())

Descriptive statistics of numeric columns:
         Student_ID      Score  Graduation_Year
count     50.000000  50.000000        50.000000
mean   60980.960000  74.941600      2023.960000
std    27501.323115  15.226884         1.399125
min    10606.000000  50.580000      2022.000000
25%    39683.250000  61.837500      2023.000000
50%    66581.500000  73.600000      2024.000000
75%    85262.250000  87.705000      2025.000000
max    97446.000000  99.580000      2026.000000

Showing the number of unique values in a categorical column

In [78]:
#using the .unique() method from the pandas library to show the unique values in a categorical column
print('Unique values in categorical column')
print(df['Major'].unique())

Unique values in categorical column
<StringArray>
['Engineering', 'Humanities', 'Computer Science', 'Business', 'Algriculture']
Length: 5, dtype: string

A if-elif-else check to assign a letter grade with a specific score

In [79]:
def score_to_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else: 
        return 'F'

In [80]:
#applying new column called Letter_Grade to the data frame
df['Letter_Grade'] = df['Score'].apply(score_to_grade)

Printing the first 5 rows to check if Letter_Grade column was added correctly

In [81]:
print(df.head())

   Student_ID  Score             Major  Graduation_Year  Pass/Fail  \
0       94802  66.02       Engineering             2024       True
1       66448  89.99       Engineering             2026       True
2       84198  62.84        Humanities             2025      False
3       76308  64.20  Computer Science             2024      False
4       64295  52.84       Engineering             2023       True

  Letter_Grade
0            D
1            B
2            D
3            D
4            F

In [85]:
#saving dataframe to a csv file with index
df.to_csv("lab_assignment_1.csv")

In [86]:
#saving dataframe to a csv file without index
df.to_csv("lab_assignment_1_without_index.csv", index=False)